## Stage-B Regression in Machine Learning

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("energydata_complete.csv")
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
df.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [5]:
df.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

### Working on Linear regression

In [6]:
from sklearn.linear_model import LinearRegression

model1=LinearRegression()

In [7]:
X=df['T2']
y=df['T6']

In [8]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33, random_state=42)

In [9]:
X_train=np.array(X_train).reshape(-1,1)
X_test=np.array(X_test).reshape(-1,1)

In [10]:
model1.fit(X_train,y_train)

LinearRegression()

In [11]:
print(model1.coef_)
print(model1.intercept_)

[2.22814651]
-37.426024639245405

In [12]:
y_pred=model1.predict(X_test)
y_pred

array([ 2.14585743, 10.01121462,  1.86362554, ...,  6.46846167,
        2.9776988 , 11.12528788])

### Evaluating R2-value

In [13]:
from sklearn.metrics import r2_score
r2_score=r2_score(y_test,y_pred)
print("R^2:",format(r2_score, ".2f"))

R^2: 0.64

### Task-2

In [14]:
df1=df.drop(['date','lights'],axis=1)
df1.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [15]:
X=df1.drop('Appliances',axis=1)
y=df1['Appliances']

In [16]:
from sklearn.preprocessing import MinMaxScaler

sc = MinMaxScaler()
sc.fit(X)

MinMaxScaler()

In [17]:
X=sc.transform(X)

In [18]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30, random_state=42)

### Calling Model for Multiple LR

In [19]:
model2=LinearRegression()

In [20]:
model2.fit(X_train,y_train)

LinearRegression()

In [21]:
y_pred1=model2.predict(X_test)
y_pred1

array([ 45.53378795, 271.19377134,  46.44550953, ...,  83.18238027,
       117.3275482 ,  71.26787621])

### Evaluating MAE

In [22]:
from sklearn.metrics import mean_absolute_error

mae=mean_absolute_error(y_test,y_pred1)
print("Mean Absolute Error",format(mae, ".2f"))

Mean Absolute Error 53.64

In [23]:
rss = ((y_test-y_pred1)**2).sum()
print("Residual Sum of Squares:",(format(rss, ".2f")))

Residual Sum of Squares: 51916612.78

In [24]:
from sklearn.metrics import mean_squared_error

mse=mean_squared_error(y_test,y_pred1)
rmse=np.sqrt(mse)
print("Root Mean Squared Errors:",(format(rmse, ".3f")))

Root Mean Squared Errors: 93.639

In [25]:
u=((y_test-y_pred1)**2).sum()
v=((y_test-y_test.mean())**2).sum()
r2=(1-u/v)

In [26]:
r2

0.1489334201116862

In [27]:
from sklearn.metrics import r2_score

r2score=r2_score(y_test,y_pred1)
print("Coefficient of Determination:",round(r2score,2))

Coefficient of Determination: 0.15

#### Calculating Weights

In [28]:
importance = model2.coef_
# summarize feature importance
for i,v in enumerate(importance):
    print('Feature: %0d, Score: %.5f' % (i,v))

Feature: 0, Score: -3.51072
Feature: 1, Score: 592.32950
Feature: 2, Score: -252.73639
Feature: 3, Score: -488.69656
Feature: 4, Score: 310.97797
Feature: 5, Score: 102.71931
Feature: 6, Score: 31.04362
Feature: 7, Score: 28.25451
Feature: 8, Score: -16.76126
Feature: 9, Score: 17.12262
Feature: 10, Score: 252.95379
Feature: 11, Score: 40.71711
Feature: 12, Score: 11.02196
Feature: 13, Score: -47.71023
Feature: 14, Score: 109.13959
Feature: 15, Score: -168.62179
Feature: 16, Score: -203.22631
Feature: 17, Score: -42.59566
Feature: 18, Score: -344.38229
Feature: 19, Score: 7.32203
Feature: 20, Score: -83.11153
Feature: 21, Score: 31.23719
Feature: 22, Score: 13.16514
Feature: 23, Score: 125.99597
Feature: 24, Score: 72749129902558.75000
Feature: 25, Score: -72749129902557.25000

In [29]:
coef=pd.DataFrame(model2.coef_,columns=['Features'],index=['T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4',
       'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9',
       'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility',
       'Tdewpoint', 'rv1', 'rv2'])
coef.sort_values(by='Features',ascending=True)

                 Features
rv2         -7.274913e+13
RH_2        -4.886966e+02
T_out       -3.443823e+02
T2          -2.527364e+02
T9          -2.032263e+02
RH_8        -1.686218e+02
RH_out      -8.311153e+01
RH_7        -4.771023e+01
RH_9        -4.259566e+01
T5          -1.676126e+01
T1          -3.510725e+00
Press_mm_hg  7.322028e+00
T7           1.102196e+01
Visibility   1.316514e+01
RH_5         1.712262e+01
RH_4         2.825451e+01
T4           3.104362e+01
Windspeed    3.123719e+01
RH_6         4.071711e+01
RH_3         1.027193e+02
T8           1.091396e+02
Tdewpoint    1.259960e+02
T6           2.529538e+02
T3           3.109780e+02
RH_1         5.923295e+02
rv1          7.274913e+13

### Ridge Regression

In [30]:
from sklearn.linear_model import Ridge
model_ridge=Ridge(alpha=0.4)
model_ridge.fit(X_train,y_train)

Ridge(alpha=0.4)

In [31]:
pred_ridge=model_ridge.predict(X_test)

In [32]:
from sklearn.metrics import mean_squared_error

mse=mean_squared_error(y_test,pred_ridge)
rmse=np.sqrt(mse)
print("Root Mean Squared Errors:",(format(rmse, ".3f")))

Root Mean Squared Errors: 93.661

### Lasso Regression

In [33]:
from sklearn.linear_model import Lasso
model_lasso=Lasso(alpha=0.001)
model_lasso.fit(X_train,y_train)

Lasso(alpha=0.001)

In [34]:
pred_lasso=model_lasso.predict(X_test)

In [35]:
lasso_coef=pd.DataFrame(model_lasso.coef_,columns=['Features'],index=['T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4',
       'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9',
       'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility',
       'Tdewpoint', 'rv1', 'rv2'])
lasso_coef.sort_values(by='Features',ascending=True)

               Features
RH_2        -484.565333
T_out       -332.571693
T2          -249.468798
T9          -202.502545
RH_8        -168.695476
RH_out       -78.000385
RH_7         -47.389094
RH_9         -42.455100
T5           -17.118723
T1            -4.147124
rv2            0.000000
rv1            1.631174
Press_mm_hg    7.282154
T7            10.346809
Visibility    13.078319
RH_5          17.103321
RH_4          27.445905
T4            30.345197
Windspeed     31.389514
RH_6          40.092883
RH_3         102.204611
T8           108.883423
Tdewpoint    118.598030
T6           250.080979
T3           310.210384
RH_1         590.599827

In [36]:
from sklearn.metrics import mean_squared_error

lasso_mae=mean_squared_error(y_test,pred_lasso)
lasso_rmse=np.sqrt(lasso_mae)

print("RMSE of Lasso:",(format(lasso_rmse,".3f")))

RMSE of Lasso: 93.641